@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100; }

.p-form-top {
  height: 120px; }

.form-control,
form-control-file {
  height: 45px; }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000; }

#messages ul {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 4px;
  color: black; }
  #messages ul li {
    list-style: none;
    padding: 4px 8px;
    font-size: 18px; }

.error-message {
  color: red; }

.error-field {
  background-color: rgba(255, 192, 203, 0.8); }

nav.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0; }
  nav.navbar a {
    color: #fff; }
  nav.navbar img {
    height: 40px; }

.pages-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }
  .pages-index-wrapper .container {
    padding-top: 80px; }
    .pages-index-wrapper .container h1 {
      font-size: 56px;
      margin-bottom: 20px; }
    .pages-index-wrapper .container h2 {
      margin-bottom: 60px; }

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg-top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }
  .users-new-wrapper main {
    padding-top: 80px; }

.tasks-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.tasks-index-wrapper .container {
  padding-top: 80px; }

.tasks-index-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

.tasks-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.tasks-new-wrapper .container {
  padding-top: 80px; }

.tasks-new-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

.selectbox-3 {
  display: inline-flex;
  align-items: center;
  position: relative; }

.selectbox-3::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none; }

.selectbox-3 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(.8em + 30px) 0.4em 0.8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer; }

.tasks-edit-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.tasks-edit-wrapper .container {
  padding-top: 80px; }

.tasks-edit-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

.group-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.group-new-wrapper .container {
  padding-top: 80px; }

.group-new-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

.group-list-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.group-list-wrapper .container {
  padding-top: 80px; }

.group-list-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

.group-edit-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cork02.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646; }

.group-edit-wrapper .container {
  padding-top: 80px; }

.group-edit-wrapper .main-content {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffffff;
  box-shadow: 0px 0px 0px 10px #ffffff;
  border: dashed 2px #646566 繧ｰ繝ｬ繝ｼ;
  border-radius: 8px; }

/*# sourceMappingURL=style.css.map */
