h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}

.p-form-top {
	height: 120px;
}

.form-control,
form-control-file {
	height: 45px;
}

.alert {
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}

#messages {
	ul {
		background: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		padding: 4px;
		color: black;

		li {
			list-style: none;
			padding: 4px 8px;
			font-size: 18px;
		}
	}
}

.error-message {
	color: red;
}

.error-field {
	background-color: rgba(255, 192, 203, 0.8);
}

nav.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
	border-color: white;
	border-width: 0 0 1px;
	margin-bottom: 20px;
	padding: 0;

	a {
		color: #fff;
	}

	img {
		height: 40px;
	}
}

.pages-index-wrapper {
	width: 100vw;
	height: 100vh;
	background-image: url('/images/bg-top.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;

	.container {
		padding-top: 80px;

		h1 {
			font-size: 56px;
			margin-bottom: 20px;
		}

		h2 {
			margin-bottom: 60px;
		}
	}
}

.users-new-wrapper {
	width: 100vw;
	height: 100vh;
	background-image: url('/images/bg-top.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;

	main {
		padding-top: 80px;
	}
}


.tasks-index-wrapper {

	width: 100vw;
	height: 100vh;
	background-image: url("/images/cork02.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.tasks-index-wrapper .container {
	padding-top: 80px;
}



.tasks-index-wrapper .main-content {
	padding: 0.2em 0.5em;
	margin: 2em 0;
	color: #565656;
	background: #ffffff;
	box-shadow: 0px 0px 0px 10px #ffffff;
	border: dashed 2px #646566 グレー;
	border-radius: 8px;
}

.tasks-new-wrapper {

	width: 100vw;
	height: 100vh;
	background-image: url("/images/cork02.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.tasks-new-wrapper .container {
	padding-top: 80px;
}

.tasks-new-wrapper .main-content {
	padding: 0.2em 0.5em;
	margin: 2em 0;
	color: #565656;
	background: #ffffff;
	box-shadow: 0px 0px 0px 10px #ffffff;
	border: dashed 2px #646566 グレー;
	border-radius: 8px;
}